<h2><%= @restaurant.name %></h2>
<div id="description">
  <%= @restaurant.description %>
</div>
<ul>
  <li><span class="attribute">Address: </span><%=@restaurant.address %></li>
  <li><span class="attribute">Telephone: </span><%=@restaurant.telephone %></li>
  <li><span class="attribute">Cuisine: </span><%=@restaurant.cuisine %></li>
  <li><span class="attribute">Hours: </span><%=@restaurant.hours %></li>
  <li><span class="attribute">Reservations: </span><%=@restaurant.reservations %></li>
</ul>
<%= link_to 'Home', :root %>
<% if logged_in? %>
<%= link_to 'logout', session_path(current_user), method: :delete %>
<%= link_to 'edit', edit_restaurant_path(@restaurant) %>
<% end %>