<!DOCTYPE html>
<html>
<head>
  <title>sf boca boca</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
<div class="larg-12 columns"><h1>sf boca boca</h1>
<h3>a curated list of places to enjoy in the city</h3>
<% if logged_in? %>
<%= link_to 'logout', session_path(current_user), method: :delete %>
<% end %>
</div>
</div>
<div class="row">
<div class="large-8 columns">
<%= yield %>
</div>
<div class="large-4 columns">
  <h3><%= link_to 'our favorites', lists_path %></h3>
  <ul class="no-bullet">
  <%= render partial: "list", collection: @lists %>
    <!-- <li><a href="#">five great for burgers</a></li> -->
<!--     <li>five great for pizza</li>
    <li>five great for craft beer</li>
    <li>five great for wine</li>
    <li>five great for mexican</li>
    <li>five great for italian</li>
    <li>five great for vegetarians</li>
    <li>five great for kids</li>
    <li>five great for out of town guests</li>
    <li>five great for expense accounts</li> -->
</ul>
  </div>
</div>
</body>
</html>